@page
@model Sakshi_Web_APP.Pages.Category.CreateModel
@{
    <form method="post">
    <div class="border p-3 mt-4">
    <div class="row pb-2 ">
    <h2 class="text-primary pl-3">create category </h2>
    <hr / >

    </div>

    <div class = "mb-3" >
    Name : 
    <input type = "text " name="CategoryNaame"/>
    </div>
    <div class="mb-3">
    
    Category name:
    <input type = "text" name=" Displayorder" />
    </div>
    <button type = "Submit" class=" btn btn-primary" style : "width:150 px:">Create</button>
    </div>
    
    </form>
}
