    @page
@model Sakshi_Web_APP.Pages.Category.IndexModel

<div class = "container p-3 ">
    <div class="row pt-4 ">
        <div class=" col-6">
        <h2 class="text-Primary">Category list</h2>
        </div>
        <div class = "col-6">
            <a asp-page = "create" class=" btn btn-primary ">
                Create New category
            </a>
        </div>



</div> 
</div>
</br></br>
<table class="table table-bordered table-striped  " style="width:100%">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Odr
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.Category){
            <tr>
                <td width=" = 50%">@obj.PropertyName</td>
                <td width=" = 60%">@obj.DisplayOrder</td>
            </tr>
        }
    </tbody>
</table>
    </div>
